/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

#main-header {
    background-color: #06711f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.list-group {
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-darken-on-hover {
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.btn-darken-on-hover:hover {
    background-color: darken(#000, 10%); /* Darken the background color on hover */
}
